
<p myColor>
  FFFFFFFFFFFFFFFFFFFFFFfffffffffffffffff
</p>
<p >
  FFFFFFFFFFFFFFFFFFFFFFfffffffffffffffff
</p>

<div style="background: lightsteelblue" myEvent>
  MairMari
</div>
<div style="background: lightsteelblue" myEvent>
  MairMari
</div>
<app-comp></app-comp>

<app-passing-few-params></app-passing-few-params>

<app-confirm></app-confirm>

<app-mousemove></app-mousemove>

<app-host-binding></app-host-binding>

<app-myif></app-myif>

<app-delay></app-delay>

<app-context></app-context>

<app-built></app-built>

<app-my-pipe></app-my-pipe>

<app-my-pipe2></app-my-pipe2>

<app-pure-comp></app-pure-comp>

<router-outlet></router-outlet>
